In [1]:
import setup_django
setup_django.init()

In [3]:
from movies.models import Movie

qs = Movie.objects.all().values('title','release_date','rating_avg','rating_count')
qs

<MovieQuerySet [{'title': 'The Godfather Part II', 'release_date': datetime.date(1974, 12, 20), 'rating_avg': Decimal('2.63'), 'rating_count': 43}, {'title': 'The Lucky One', 'release_date': datetime.date(2012, 4, 19), 'rating_avg': Decimal('2.85'), 'rating_count': 40}, {'title': 'The Dark Knight', 'release_date': datetime.date(2008, 7, 14), 'rating_avg': Decimal('2.97'), 'rating_count': 36}, {'title': 'Knowing', 'release_date': datetime.date(2009, 3, 19), 'rating_avg': Decimal('3.16'), 'rating_count': 37}, {'title': 'The Adam Project', 'release_date': datetime.date(2022, 3, 11), 'rating_avg': Decimal('3.06'), 'rating_count': 34}, {'title': 'Sholay', 'release_date': datetime.date(1975, 8, 15), 'rating_avg': Decimal('3.37'), 'rating_count': 38}, {'title': 'The Shawshank Redemption', 'release_date': datetime.date(1994, 9, 23), 'rating_avg': Decimal('2.89'), 'rating_count': 36}, {'title': 'Your Name.', 'release_date': datetime.date(2016, 8, 26), 'rating_avg': Decimal('3.27'), 'rating_count': 37}, {'title': 'Spirited Away', 'release_date': datetime.date(2001, 7, 20), 'rating_avg': Decimal('3.27'), 'rating_count': 45}, {'title': "Gabriel's Inferno: Part II", 'release_date': datetime.date(2020, 7, 31), 'rating_avg': Decimal('3.03'), 'rating_count': 31}, {'title': "It's Such a Beautiful Day", 'release_date': datetime.date(2012, 8, 24), 'rating_avg': Decimal('2.74'), 'rating_count': 34}, {'title': '12 Angry Men', 'release_date': datetime.date(1957, 4, 10), 'rating_avg': Decimal('2.97'), 'rating_count': 37}, {'title': 'Close to the Horizon', 'release_date': datetime.date(2019, 10, 10), 'rating_avg': Decimal('3.38'), 'rating_count': 29}, {'title': 'The War with Grandpa', 'release_date': datetime.date(2020, 8, 27), 'rating_avg': Decimal('3.28'), 'rating_count': 36}, {'title': "Gabriel's Inferno", 'release_date': datetime.date(2020, 5, 29), 'rating_avg': Decimal('3.10'), 'rating_count': 39}, {'title': "Schindler's List", 'release_date': datetime.date(1993, 12, 15), 'rating_avg': Decimal('2.58'), 'rating_count': 26}, {'title': 'Dilwale Dulhania Le Jayenge', 'release_date': datetime.date(1995, 10, 19), 'rating_avg': Decimal('2.98'), 'rating_count': 45}, {'title': 'Parasite', 'release_date': datetime.date(2019, 5, 30), 'rating_avg': Decimal('3.18'), 'rating_count': 39}, {'title': 'The Green Mile', 'release_date': datetime.date(1999, 12, 10), 'rating_avg': Decimal('2.67'), 'rating_count': 49}, {'title': 'City of God', 'release_date': datetime.date(2002, 2, 5), 'rating_avg': Decimal('3.21'), 'rating_count': 39}, '...(remaining elements truncated)...']>

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(qs)
df.head(n=10)

                        title release_date rating_avg  rating_count
0       The Godfather Part II   1974-12-20       2.63            43
1               The Lucky One   2012-04-19       2.85            40
2             The Dark Knight   2008-07-14       2.97            36
3                     Knowing   2009-03-19       3.16            37
4            The Adam Project   2022-03-11       3.06            34
5                      Sholay   1975-08-15       3.37            38
6    The Shawshank Redemption   1994-09-23       2.89            36
7                  Your Name.   2016-08-26       3.27            37
8               Spirited Away   2001-07-20       3.27            45
9  Gabriel's Inferno: Part II   2020-07-31       3.03            31

In [8]:
qs.first()

{'title': 'Shadows in Paradise',
 'release_date': datetime.date(1986, 10, 17),
 'rating_avg': Decimal('2.95'),
 'rating_count': 38}