In [9]:
import setup_django
setup_django.init()

In [11]:
from django.conf import settings
from ratings.models import Rating
import pandas as pd


LINKS_SMALL_CSV = settings.DATA_DIR / "links_small.csv"
LINKS_SMALL_CSV.exists()

True

In [12]:
qs = Rating.objects.all()
missing_movie_ids = []
for instance in qs:
    if instance.content_object is None:
        missing_movie_ids.append(instance.object_id)


_total = len(missing_movie_ids)
total_missing = list(set(missing_movie_ids))
print(len(total_missing),_total,qs.count())

7740 71330 100004

In [13]:
print(len(total_missing),_total,qs.count())

7740 71330 100004

In [14]:
links_df = pd.read_csv(LINKS_SMALL_CSV)
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [15]:
ms_df = links_df.copy()[links_df.movieId.isin(total_missing)]
ms_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
3        4  114885  31357.0
6        7  114319  11860.0
7        8  112302  45325.0

In [17]:
ms_df.shape[0] == len(total_missing)

True

In [18]:
def enrich_imdb_col(val):
    val = str(val)
    if len(val) == 7:
        val = f"tt{val}"
        return val
    if len(val) == 6:
        val = f"tt0{val}"
        return val
    if len(val) == 5:
        val = f"tt00{val}"
        return val
    return val

SyntaxError: incomplete input (1168785709.py, line 1)